<div *ngIf="fantome">

    <div class="card mt-5 mx-auto" style="max-width: 540px; background-color: #f7f5ec;">
        <div class="row g-0">
            <div class="col-md-4">
                <img *ngIf="fantome.role == 'Espions'" class="img-fluid fantome-image" src="/assets/images/espion.png">
                <img *ngIf="fantome.role == 'Alchimiste'" class="img-fluid fantome-image" src="/assets/images/alchimiste.png">
                <img *ngIf="fantome.role == 'Sorcier'" class="img-fluid fantome-image" src="/assets/images/sorcier.png">
                <img *ngIf="fantome.role == 'Enchanteur'" class="img-fluid fantome-image" src="/assets/images/enchanteur.png">
                <img *ngIf="fantome.role == 'Guerrier'" class="img-fluid fantome-image" src="/assets/images/guerrier.png">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td>{{ fantome.username }}</td>    
                            </tr>
                            <tr>
                                <td>Classe</td>
                                <td>{{ fantome.role }}</td>
                            </tr>
                            <tr>
                                <td>Points de vie</td>
                                <td *ngIf="fantome.role == 'Sorcier'">15</td>
                            </tr>
                            <tr>
                                <td>Dégâts</td>
                                <td *ngIf="fantome.role == 'Sorcier'">55</td>
                            </tr>
                        </tbody>   
                    </table>
                    <div class="col-5">
                        <a href="/login" *ngIf="currentUser.id == null" routerLink="login" class="btn btn-primary text-end">Ajouter en ami</a>
                        <button *ngIf="isFriend" (click)="update()" disabled class="btn btn-primary text-end">Ajouter en ami</button>
                        <button *ngIf="isFriend === false && currentUser.id !== undefined" (click)="update()" class="btn btn-primary text-end">Ajouter en ami</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>