<div *ngIf="fantome">

    <div class="box-wrapper col-3 mx-auto">
        <div class="shape-box shape-box_half">
            <img *ngIf="fantome.role == 'Espions'" src="/assets/images/espion.png">
            <img *ngIf="fantome.role == 'Alchimiste'" src="/assets/images/alchimiste.png">
            <img *ngIf="fantome.role == 'Sorcier'" src="/assets/images/sorcier.png">
            <img *ngIf="fantome.role == 'Enchanteur'" src="/assets/images/enchanteur.png">
            <img *ngIf="fantome.role == 'Guerrier'" src="/assets/images/guerrier.png">
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">{{ fantome.username }}</h3>
                    <h4 class="card-main-title">{{ fantome.role }}</h4>
                </div>
                <div class="card-content">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Points de vie</td>
                                <td *ngIf="fantome.role == 'Espions'">25</td>
                                <td *ngIf="fantome.role == 'Alchimiste'">35</td>
                                <td *ngIf="fantome.role == 'Sorcier'">15</td>
                                <td *ngIf="fantome.role == 'Enchanteur'">30</td>
                                <td *ngIf="fantome.role == 'Guerrier'">50</td>
                            </tr>
                            <tr>
                                <td>Dégâts</td>
                                <td *ngIf="fantome.role == 'Espions'">35</td>
                                <td *ngIf="fantome.role == 'Alchimiste'">25</td>
                                <td *ngIf="fantome.role == 'Sorcier'">45</td>
                                <td *ngIf="fantome.role == 'Enchanteur'">30</td>
                                <td *ngIf="fantome.role == 'Guerrier'">10</td>
                            </tr>
                            <tr>
                                <td>Compétence</td>
                                <td *ngIf="fantome.role == 'Espions'">AHAH</td>
                                <td *ngIf="fantome.role == 'Alchimiste'">Tu me vois plus</td>
                                <td *ngIf="fantome.role == 'Sorcier'">Boom boom</td>
                                <td *ngIf="fantome.role == 'Enchanteur'">Rien de spécial</td>
                                <td *ngIf="fantome.role == 'Guerrier'">VOUS NE PASSEREZ PAS</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="/login" *ngIf="currentUser.id == null" routerLink="login" class="add-friend-btn text-end">
                    Ajouter en ami
                </a>
                <button *ngIf="isFriend" (click)="addFriend()" disabled class="add-friend-btn text-end">
                    Déjà ami
                </button>
                <button *ngIf="isFriend === false && currentUser.id !== undefined" (click)="addFriend()" class="add-friend-btn text-end">
                    Ajouter en ami
                </button>
            </figcaption>
            <span class="after"></span>
        </div>
    </div>

</div>