<div class="main-screen position border border-dark">
  <div class="form position">
    <div class="form-inner">
      <!-- Tabs-->
      <div class="tabs">
        <ul class="tabs">
          <li routerLink="/login" class="current">
            <a class="text-decoration-none text-dark">Je suis membre</a>
          </li>
          <li routerLink="/register" class="new">
            <a class="text-decoration-none text-dark">Je suis nouveau</a>
          </li>
        </ul>
        <!--Login Form -->
        <div class="form-content current" id="member">
          <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate id="sign-in">
            <input 
              type="text" 
              class="form-control" 
              name="username" 
              [(ngModel)]="form.username" 
              required 
              #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }" 
              placeholder="Nom" 
              class="field"
            >
            <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
              Mettez votre nom!
            </div>
            <input 
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }" 
              placeholder="Mot de passe" 
              class="field"
            >
            <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
              <div *ngIf="password.errors['required']">Le mot de passe!</div>
              <div *ngIf="password.errors['minlength']">
                Le mot de passe a au moins 6 caractères
              </div>
            </div>
            <button id="submit" name="sign-in-button" class="flat-button signin mt-5">Se connecter</button>
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger mt-3" role="alert">
              {{ errorMessage }}
            </div>
            <div class="alert alert-success mt-3" *ngIf="isLoggedIn">
              Connecté en tant que {{ roles }}.
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>