<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark ">
      <a href="/" routerLink="fantomes" class="navbar-brand mx-auto">Fantomes</a>
  
      <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Rejoindre les autres</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Se connecter</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">Votre antre</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Se déconnecter</a>
        </li>
      </ul>
    </nav>
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  
<router-outlet></router-outlet>